* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: dodgerblue;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
